	<template name="hello">
<body>
{{>header}}
		<section style="max-height:750px;" class="hide-mobile slider ">
    <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="car-dealer-03" style="max-height: 750px; margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
      <div id="rev_slider_2_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
    <ul>
			<!-- SLIDE  -->
        <li data-index="rs-5" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="images/road.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
            <img src="/images/road.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div class="tp-caption   tp-resizeme"
           id="slide-5-layer-6"
           data-x="center" data-hoffset=""
           data-y="180"
                data-width="['auto']"
          data-height="['auto']"
          data-transform_idle="o:1;"

           data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
           data-transform_out="opacity:0;s:300;"
           data-mask_in="x:0px;y:0px;"
          data-start="1400"
          data-splitin="chars"
          data-splitout="none"
          data-responsive_offset="on"

          data-elementdelay="0.05"

          style="z-index: 5; white-space: nowrap; font-size: 50px; line-height: 50px; font-weight: 800; color: rgba(255, 255, 255, 1.00);font-family:Roboto;text-align:center;"><strong>Next Generation</strong></div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption   tp-resizeme"
           id="slide-5-layer-7"
           data-x="center" data-hoffset=""
           data-y="220" data-voffset="-110"
                data-width="['auto']"
          data-height="['auto']"
          data-transform_idle="o:1;"

           data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
           data-transform_out="opacity:0;s:300;"
           data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
          data-start="1700"
          data-splitin="chars"
          data-splitout="none"
          data-responsive_offset="on"

          data-elementdelay="0.05"

          style="z-index: 6; white-space: nowrap; font-size: 50px; line-height: 70px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Roboto;text-align:center;">Automotive Service</div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption  tp-resizeme"
           id="slide-5-layer-10"
           data-x="center" data-hoffset=""
           data-y="center" data-voffset="-165"
                data-width="['auto']"
          data-height="['auto']"
          data-transform_idle="o:1;"
            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power0.easeIn;"
            data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);"

           data-transform_in="y:bottom;s:600;e:Power2.easeInOut;"
           data-transform_out="opacity:0;s:300;"
          data-start="1500"
          data-splitin="none"
          data-splitout="none"
          data-responsive_offset="on"


          style="z-index: 7; white-space: nowrap; font-size: 14px; line-height: 18px; font-weight: 400;;font-family:Open Sans;text-align:center;text-transform:uppercase;">

					<a class="typeform-share button" href="/booking.php" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#db2d2e;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:23px;line-height:57.5px;text-align:center;margin:0;height:57.5px;padding:0px 38px;border-radius:0px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-submit-close-delay="5" target="_blank">Schedule an Appointment</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

					</div>

        <!-- LAYER NR. 4 -->
        <div class="tp-caption   tp-resizeme"
           id="slide-5-layer-12"
           data-x="center" data-hoffset="0"
           data-y="center" data-voffset="70"
                data-width="['none','none','none','none']"
          data-height="['none','none','none','none']"
          data-transform_idle="o:1;"

           data-transform_in="y:50px;opacity:0;s:800;e:Power2.easeInOut;"
           data-transform_out="opacity:0;s:300;"
          data-start="620"
          data-responsive_offset="on"


          style="z-index: 8;"><img src="images/redcar.png" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>

        <!-- LAYER NR. 5
        <div class="tp-caption   tp-resizeme"
           id="slide-5-layer-11"
           data-x="120"
           data-y="center" data-voffset="130"
                data-width="['none','none','none','none']"
          data-height="['none','none','none','none']"
          data-transform_idle="o:1;"

           data-transform_in="x:50px;opacity:0;s:800;e:Power2.easeInOut;"
           data-transform_out="opacity:0;s:300;"
          data-start="200"
          data-responsive_offset="on"


          style="z-index: 9;"><img src="images/red-car.png" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div> -->
      </li>
    </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
    </div>
  </section>

<!--=================================
  rev slider -->
<section style="background-color:black;" class="mobile">
	<center><img class="img-responsive" src="images/mobile.jpg"></center>
	<div style="margin-bottom: 30px; margin-top: 15px;">
	</div>
</section>
<section class="mobile">
<section>
	<div class="row" style="margin:20px 30px;">
      <div class="col-lg-12 col-md-12">
         <div class="section-title" style="margin:0;">
           <h3 class="hide-mobile">Call or Text (956) 948-9600</h3>
           <a href="tel:19569489600"><h3 class="mobile">(956) 948-9600</h3></a>
           <div class="row mobile">
             <div class="col-xs-6">
                  <a class="button btn-block" href="tel:19569489600"><i class="fa fa-phone" aria-hidden="true"></i> Call Us</a>
             </div>
             <div class="col-xs-6">
                  <a class="button btn-block" href="sms:19569489600"><i class="fa fa-commenting-o" aria-hidden="true"></i> Text Us</a>
             </div>
           </div>
           <div class="separator"></div>
         </div>
				<center><a class="typeform-share button" href="/booking.php" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#db2d2e;text-align:center;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-submit-close-delay="5" target="_blank">Schedule a Service</a></center> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
      </div>
    </div>
</section></section>
<!--=================================
 quick-links -->

 <section class="quick-links white-bg">
  <div class="container">
   <div class="row no-gutter">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <div class="link text-center">
       <a href="http://auto1stop.com/auto-glass.php">
        <img src="svg/cracked-windshield.svg" style="margin-bottom: 15px;" width="36">
        <h6>Auto Glass </h6>
        </a>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <div class="link text-center">
       <a href="http://auto1stop.com/collision.php">
        <img src="svg/chassis.svg" style="margin-bottom: 15px;" width="36">
        <h6>Body Shop</h6>
        </a>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <div class="link text-center">
       <a href="mechanic.php">
        <img src="svg/gears.svg" style="margin-bottom: 15px;" width="36">
        <h6>Mechanic</h6>
        </a>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <div class="link text-center">
       <a href="wash-detail.php">
        <img src="svg/car-wash.svg" style="margin-bottom: 15px;" width="36">
        <h6>Wash & Detail</h6>
        </a>
      </div>
    </div>
<!--
		 <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <div class="link text-center">
       <a href="custom.php">
        <img src="svg/tinting.svg" style="margin-bottom: 15px;" width="36">
        <h6>Aftermarket</h6>
        </a>
      </div>
    </div>
		 -->
		<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <div class="link text-center">
       <a href="tires.php">
        <img src="svg/wheel.svg" style="margin-bottom: 15px;" width="36">
        <h6>Wheels & Tires</h6>
        </a>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <div class="link text-center">
       <a href="maintenance.php">
        <img src="svg/oil.svg" style="margin-bottom: 15px;" width="36">
        <h6>Maintenance</h6>
        </a>
      </div>
     </div>
   </div>
  </div>
</section>

<!--=================================
 quick-links -->



   <section class="play-video-2-section bg-3 bg-overlay-black-70 page-section-ptb">
    <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="fb-video" data-autoplay="true" data-href="https://www.facebook.com/auto1stop/videos/1985603325017302/" data-width="500" data-show-text="false"><blockquote cite="https://www.facebook.com/auto1stop/videos/1985603325017302/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/auto1stop/videos/1985603325017302/"></a><p>Weekly Update
-----------------
8/28-9/1</p>Posted by <a href="https://www.facebook.com/auto1stop/">One Stop Shop</a> on Sunday, September 24, 2017</blockquote></div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="custom-block-2 mt-0"><br>
           <h3 class="text-white">Our Promise to Deliver</h3>
           <p style="line-height:20px;" class="text-white">Here at One Stop Shop, we promise to deliver punctuality, honesty, integrity and of course, quality. We promise to ensure customer satisfaction through positive and proactive customer service, and assure our team is trained on the latest technologies, and only use the highest quality of tools. We promise to guarantee our work, and to maintain helpful relationships with our clients.</p><br>
           <div class="ceo">
             <img style="margin-left:-20px" width="150" class="img-responsive" src="images/signature.png" alt="">
             <strong class="text-red">CEO</strong>
             <p class="text-white">Carlos Ferreira</p>
           </div>
         </div>
      </div>
     </div>
     </div>
    </section>
		<!--=================================
 play-video -->


<!--=================================
 our-service -->

<section class="feature-car-area  our-service white-bg page-section-ptb">
  <div class="container">
   <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-7">
      <h2>YOUR CAR, YOUR TERMS</h2>
      <span>Bringing you only the best parts, services, and accessories in the market, we’ll get it done to make your car, uniquely yours.
</span>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
         <div class="feature-box-2">
          <div class="icon">
           <i class="glyph-icon flaticon-wallet"></i>
          </div>
          <div class="content">
          <h5>Financing Available</h5>
          <p>Shop with Confidence. With One Stop Shop, we can help you find the best financing options available to you. </p>
         </div>
        </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
         <div class="feature-box-2">
          <div class="icon">
           <i class="glyph-icon flaticon-gas-station"></i>
          </div>
          <div class="content">
          <h5>We'll Pick It Up</h5>
          <p>A boss’s last worry, and One Stop Shop’s speciality. We can pick up your vehicle anywhere for service.</p>
         </div>
        </div>
        </div>
      </div>
     <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
         <div class="feature-box-2">
          <div class="icon">
           <i class="glyph-icon flaticon-air-conditioning"></i>
          </div>
          <div class="content">
          <h5>Unlimited Options</h5>
          <p>With 11 years of experience and our solid automotive vendor relationships, you can feel rest assured that you're getting the best deal on custom and aftermarket parts.</p>
         </div>
        </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
         <div class="feature-box-2">
          <div class="icon">
           <i class="glyph-icon flaticon-gearstick"></i>
          </div>
          <div class="content">
          <h5>Quality & Guarantee</h5>
          <p>We stand behind our promise, and our work. Our team is trained on the latest technologies, and only use the highest quality of tools.</p>
         </div>
        </div>
        </div>
      </div>
     </div>
     <div class="col-lg-5 col-md-5 col-sm-5">
      <img style="margin-top:-50px;" class="img-responsive center-block big-car" height="500px" src="images/car/18.png" alt="">
     </div>
   </div>
  </div>
</section>

<!--=================================
 our-service -->



<hr class="gray">

 <!--=================================
 testimonial -->
<section class="testimonial-2 bg-1 bg-overlay-black-70 page-section-ptb">
  <div class="container">
   <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="section-title">
         <span class="text-white">What Our Happy Clients Are Saying</span>
         <h2 class="text-white">Customer Reviews </h2>
         <div class="separator"></div>
      </div>
    </div>
   </div>
   <div class="testimonial-center">
    <div class="owl-carousel-3">
		<div class="item">
       <div class="testimonial-block">
        <div class="testimonial-content">
         <i class="fa fa-quote-left"></i>
         <p>Had my windshield replaced and they also repaired a ding on one of my doors. They did an excellent job. Very professional and courteous staff.  I was very pleased with the work they did. Would highly recommend them if you need this tyoe of work done.</p>
       </div>
       <div class="testimonial-info">
         <div class="testimonial-name">
           <h6 class="text-white">R Alaniz</h6>
         </div>
        </div>
       </div>
     </div>
     <div class="item">
       <div class="testimonial-block">
        <div class="testimonial-content">
         <i class="fa fa-quote-left"></i>
         <p>Always excellent work done on my vehicles. Went in for a winco's window tint on my wifes car and loved the outcome. Always come here and always will. One stop shop still the best on window tint and other services. Like scratch repair window chip.</p>
       </div>
       <div class="testimonial-info">
         <div class="testimonial-name">
           <h6 class="text-white">A Hinojosa</h6>
         </div>
        </div>
       </div>
     </div>
			<div class="item">
       <div class="testimonial-block">
        <div class="testimonial-content">
         <i class="fa fa-quote-left"></i>
         <p>One stop shop is the bees knees! Friendly extremely knowledgeable and professional. I'm not going anywhere else, they are my only stop shop from now on.</p>
       </div>
       <div class="testimonial-info">
         <div class="testimonial-name">
           <h6 class="text-white">T Ybarra</h6>
         </div>
        </div>
       </div>
     </div>
     <div class="item">
       <div class="testimonial-block">
        <div class="testimonial-content">
         <i class="fa fa-quote-left"></i>
         <p>Boy I sure made the right selection of tint! I got the windshield, as dark as I could go on the front, & 10% on the back. Awesome installation job and I love the fact that I can still see out the 10% at night! The heat reduction is awesome! The car cools off faster and my hands no longer feel the heat from the sun coming in from the windshield! I definitely recommend this tint! If you're looking to tint your windows just go over and talk to Matt!</p>
       </div>
       <div class="testimonial-info">
         <div class="testimonial-name">
           <h6 class="text-white">D Zuniga</h6>
         </div>
        </div>
      </div>
     </div>
     <div class="item">
       <div class="testimonial-block">
        <div class="testimonial-content">
         <i class="fa fa-quote-left"></i>
         <p>Super excited about my wife's new look on the Sentra with a window tint... Great service and awesome window tint from Matt at one stop shop</p>
       </div>
       <div class="testimonial-info">
         <div class="testimonial-name">
           <h6 class="text-white">M Contreras</h6>
         </div>
       </div>
      </div>
     </div>
			<div class="item">
       <div class="testimonial-block">
        <div class="testimonial-content">
         <i class="fa fa-quote-left"></i>
         <p>Wow! Since we all know good customer service is hard to find now a days I freaked out with this place. This place is oozing with customer service. I thought I was dreaming.  </p>
       </div>
       <div class="testimonial-info">
         <div class="testimonial-name">
           <h6 class="text-white">D Garza</h6>
         </div>
        </div>
      </div>
     </div>
     <div class="item">
       <div class="testimonial-block">
        <div class="testimonial-content">
         <i class="fa fa-quote-left"></i>
         <p>Great service, not like any other shop, they keep their customers satisfied and have friendly staff. </p>
       </div>
       <div class="testimonial-info">
         <div class="testimonial-name">
           <h6 class="text-white">E Cortez</h6>
         </div>
        </div>
      </div>
     </div>
    </div>
   </div>
  </div>
</section>

 <!--=================================
 testimonial -->


<!--=================================
Brands -->

<section class="our-clients white-bg page-section-ptb2">
  <div class="container">
   <div class="row top50">
    <div class="col-lg-12 col-md-12">
      <div class="section-title2">
         <span>We Work With</span>
         <h2>All Makes & Models</h2>
         <div class="separator"></div>
      </div>
    </div>
   </div>
   <div class="row">
     <div class="col-lg-12 col-md-12">
       <div class="owl-carousel-6">
          <div class="item">
            <img class="img-responsive center-block" src="images/make-logos/acura.png" alt="">
          </div>
          <div class="item">
            <img class="img-responsive center-block" src="images/make-logos/audi.png" alt="">
          </div>
          <div class="item">
            <img class="img-responsive center-block" src="images/make-logos/bm.png" alt="">
          </div>
          <div class="item">
            <img class="img-responsive center-block" src="images/make-logos/cadillac.png" alt="">
          </div>
          <div class="item">
            <img class="img-responsive center-block" src="images/make-logos/chevrolet.png" alt="">
          </div>
          <div class="item">
            <img class="img-responsive center-block" src="images/make-logos/chrysler.png" alt="">
          </div>
          <div class="item">
            <img class="img-responsive center-block" src="images/make-logos/dodge.png" alt="">
          </div>
          <div class="item">
            <img class="img-responsive center-block" src="images/make-logos/fiat.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/ford.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/gmc.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/honda.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/hyundai.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/infiniti.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/jaguar.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/jeep.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/land-rover.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/lexus.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/lincoln.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/maserati.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/mazda.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/mercedes.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/mini.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/mitsubishi.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/nissan.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/porsche.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/renault.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/saab.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/scion.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/subaru.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/toyota.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/volkswagen.png" alt="">
          </div>
				 	<div class="item">
            <img class="img-responsive center-block" src="images/make-logos/volvo.png" alt="">
          </div>
       </div>
     </div>
    </div>
  </div>
</section>



<!--=================================
brands -->


<!--=================================
Team -->

<section class="our-clients page-section-ptb2" style="background-color:#dedede;">
  <div class="container">
   <div class="row top50">
    <div class="col-lg-12 col-md-12">
      <div class="section-title2">
         <span>Meet our</span>
         <h2>Team & Staff</h2>
         <div class="separator"></div>
      </div>
    </div>
   </div>
   <div class="row">
     <div class="col-lg-12 col-md-12">
       <div class="owl-carousel-6">

				 {{#each teams}}
          {{> team }}
        {{/each}}
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/1.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">CARLOS A. FERREIRA</h5>
              <span class="text-black">CEO</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/2.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">RAUL TRUJILLO</h5>
              <span class="text-black">MANAGER - HARLINGEN</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/3.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">SONIA ACOSTA</h5>
              <span class="text-black">RECEPTIONIST</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/4.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">YORDY SILVA</h5>
              <span class="text-black">TECHNICIAN</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/5.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">CLAUDIA PONCE</h5>
              <span class="text-black">ACCOUNTING</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/6.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">JUAN CANTU</h5>
              <span class="text-black">INVENTORY MANAGER</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/7.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">TONY GARZA</h5>
              <span class="text-black">TECHNICIAN</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/8.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">RHONDA RAMIREZ</h5>
              <span class="text-black">ACCOUNTING</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/9.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">GULLIERMO SANDOVAL</h5>
              <span class="text-black">BODYSHOP COORDINATOR</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/10.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">ELISEO TREJO</h5>
              <span class="text-black">SERVICE ADVISOR</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/11.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">PABLO CRUZ</h5>
              <span class="text-black">TECHNICIAN</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/12.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">MARICELA CRUZ</h5>
              <span class="text-black">ACCOUNTING</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/13.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">VICTOR RUIZ</h5>
              <span class="text-black">SALES</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/14.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">HELENA NEVES</h5>
              <span class="text-black">MANAGER - MCALLEN</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/15.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">JOEL NAPOLES</h5>
              <span class="text-black">WINDSHIELDS</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/16.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">MARTHA CEJA</h5>
              <span class="text-black">ACCOUNTING</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/17.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">ALEXIS PEREZ</h5>
              <span class="text-black">TECHNICIAN</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/18.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">AMADOR RIVERA</h5>
              <span class="text-black">MANAGER - PHARR</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/19.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">IVAN CORONA</h5>
              <span class="text-black">INVENTORY - PHARR</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/20.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">ADAN MIRELES</h5>
              <span class="text-black">INVENTORY - HARLINGEN</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/23.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">DAN SANCHEZ</h5>
              <span class="text-black">TECHNICIAN</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/24.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">OFELIA GOMEZ</h5>
              <span class="text-black">ACCOUNTING</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/25.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">JULIAN ARREDONDO</h5>
              <span class="text-black">TECHNICIAN</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/26.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">ANGEL BALDERAS</h5>
              <span class="text-black">RUNNER</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/27.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">KAELA GARCIA</h5>
              <span class="text-black">ACCOUNTING</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/28.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">SUSANA RODRIGUEZ</h5>
              <span class="text-black">CLAIMS MANAGER</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/29.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">STEVE ZAPATA</h5>
              <span class="text-black">BODYSHOP MANAGER</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/30.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">VERONICA GUERRERO</h5>
              <span class="text-black">PARTS AND INVENTORY</span>
             </div>
          </div>
        </div>
<div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/31.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">HUMBERTO RODRIGUEZ</h5>
              <span class="text-black">SERVICE ADVISOR</span>
             </div>
          </div>
        </div>
				 <div class="item team-item">
          <div class="team text-center">
            <div class="team-image">
            <img class="img-responsive icon" src="images/team/32.png" alt="">
            </div>
            <div class="team-name">
              <h5 class="text-black">CHUY TORRES</h5>
              <span class="text-black">SALES</span>
             </div>
          </div>
        </div>
       </div>
     </div>
    </div>
		<div class="row">
			<center><a class="button" href="/team.php">View our Specialist Directory</a></center>
		</div>
  </div>
</section>



<!--=================================
team -->





<!--=================================
 footer -->

<section style="background-color: #db2d2e;" class="">
 <div style="box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); background-color: white; padding: 50px; " class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="text-center">
         <center><a class="typeform-share button" href="/booking.php" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#db2d2e;text-align:center;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-submit-close-delay="5" target="_blank">Schedule a Service</a></center> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
         <h5 style="margin-top:15px;">Or Call For an Instant Quote</h5>
         <h1>(956) 948-9600</h1>
      </div>
    </div>
   </div>
   </div>
</section><footer class="top100 footer footer-black bg-2 bg-overlay-black-90">
  <div class="container">
    <div class="row">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="usefull-link">
        <h6 class="text-white">Pharr, Tx</h6>
          <div class="address">
          <ul>
            <li> <a target="blank" href="https://www.google.com/maps/place/One+Stop+Shop/@26.2047792,-98.1722031,15z/data=!4m5!3m4!1s0x0:0x2f23d5ee936acf7f!8m2!3d26.2047792!4d-98.1722031?sa=X&ved=0ahUKEwj2tquBs6_WAhXF31QKHSBiBagQ_BIIhQEwCg"><i class="fa fa-map-marker"></i><span>812 E Expy 83,<br> Pharr TX 78577</span></a> </li>
          </ul>
        </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="usefull-link">
        <h6 class="text-white">McAllen, Tx</h6>
          <div class="address">
          <ul>
            <li> <a target="blank" href="https://www.google.com/maps/place/Detail+On+Wheels/@26.1991936,-98.2115504,17z/data=!3m1!4b1!4m5!3m4!1s0x8665a0baf32b54b3:0x6206d6350c2aeffb!8m2!3d26.1991888!4d-98.2093564"><i class="fa fa-map-marker"></i><span>1022 E Hwy 83,<br> McAllen TX 78501</span></a> </li>
          </ul>
        </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="usefull-link">
        <h6 class="text-white">Harlingen, Tx</h6>
          <div class="address">
          <ul>
            <li> <a target="blank" href="https://www.google.com/maps/place/One+Stop+Shop/@26.1894333,-97.7299219,17z/data=!3m1!4b1!4m5!3m4!1s0x866f81c773f08f93:0xfbd77677e45268b6!8m2!3d26.1894285!4d-97.7277279"><i class="fa fa-map-marker"></i><span>3110 TX-54 Spur,<br> Harlingen, TX 78552</span></a> </li>
          </ul>
        </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="usefull-link">
        <h6 class="text-white">Body Shop, Pharr, Tx</h6>
          <div class="address">
          <ul>
            <li> <a target="blank" href="https://www.google.com/maps/place/1011+W+Newcombe+Ave,+Pharr,+TX+78577/@26.1960453,-98.1967649,15z/data=!4m13!1m7!3m6!1s0x8665a0984afb9b4b:0x6358d6ed4961611a!2s1011+W+Newcombe+Ave,+Pharr,+TX+78577!3b1!8m2!3d26.1957927!4d-98.1968435!3m4!1s0x8665a0984afb9b4b:0x6358d6ed4961611a!8m2!3d26.1957927!4d-98.1968435"><i class="fa fa-map-marker"></i><span>1011 W Park Ave<br> Pharr, TX 78577</span></a> </li>
          </ul>
        </div>
        </div>
      </div>
      <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="footer-box">
          <div class="box-content">
            <h6 class="text-white">ARE YOU LOOKING FOR A CAR?</h6>
            <p class="text-white"> We can help you with your next car purchase. New or used, we can guarantee you the best deal.</p>
          </div>
          <div class="box-link">
            <a class="button" href="contact.php">Contact Us</a>
          </div>
        </div>
     </div>
     <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="footer-box">
          <div class="box-content">
            <h6 class="text-white">DO YOU WANT TO SELL A CAR?</h6>
            <p class="text-white"> Looking to sell or upgrade? We'll make you a cash offer on your vehicle with zero commitment.</p>
          </div>
          <div class="box-link">
            <a class="button" href="/contact.php">Contact Us</a>
          </div>
        </div>
     </div>
    </div>
    </div>
    <hr />
    <div class="copyright">
     <div class="container">
      <div class="col-lg-4 col-md-4">
       <div class="text-left">
        <p style="color:#909090">©Copyright 2017 One Stop Shop</p>
       </div>
      </div>
       <div class="col-lg-4 col-md-4">
        <div id="google_translate_element"></div>
      </div>
      <div class="col-lg-4 col-md-4">
        <ul class="list-inline text-right">
          <li><a href="contact.php">contact us </a></li> | <a href="/contact.php" id="feedback"> Feedback</a>
        </ul>
      </div>
     </div>
    </div>

</footer>


</body>
</template>
