	<template name="hello">
<body>
{{>header}}
		<section style="max-height:750px;" class="hide-mobile slider ">
    <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="car-dealer-03" style="max-height: 750px; margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
      <div id="rev_slider_2_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
    <ul>
			<!-- SLIDE  -->
        <li data-index="rs-5" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="images/road.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
            <img src="/images/road.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div class="tp-caption   tp-resizeme"
           id="slide-5-layer-6"
           data-x="center" data-hoffset=""
           data-y="180"
                data-width="['auto']"
          data-height="['auto']"
          data-transform_idle="o:1;"

           data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
           data-transform_out="opacity:0;s:300;"
           data-mask_in="x:0px;y:0px;"
          data-start="1400"
          data-splitin="chars"
          data-splitout="none"
          data-responsive_offset="on"

          data-elementdelay="0.05"

          style="z-index: 5; white-space: nowrap; font-size: 50px; line-height: 50px; font-weight: 800; color: rgba(255, 255, 255, 1.00);font-family:Roboto;text-align:center;"><strong>Next Generation</strong></div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption   tp-resizeme"
           id="slide-5-layer-7"
           data-x="center" data-hoffset=""
           data-y="220" data-voffset="-110"
                data-width="['auto']"
          data-height="['auto']"
          data-transform_idle="o:1;"

           data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
           data-transform_out="opacity:0;s:300;"
           data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
          data-start="1700"
          data-splitin="chars"
          data-splitout="none"
          data-responsive_offset="on"

          data-elementdelay="0.05"

          style="z-index: 6; white-space: nowrap; font-size: 50px; line-height: 70px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Roboto;text-align:center;">Automotive Service</div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption  tp-resizeme"
           id="slide-5-layer-10"
           data-x="center" data-hoffset=""
           data-y="center" data-voffset="-165"
                data-width="['auto']"
          data-height="['auto']"
          data-transform_idle="o:1;"
            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power0.easeIn;"
            data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);"

           data-transform_in="y:bottom;s:600;e:Power2.easeInOut;"
           data-transform_out="opacity:0;s:300;"
          data-start="1500"
          data-splitin="none"
          data-splitout="none"
          data-responsive_offset="on"


          style="z-index: 7; white-space: nowrap; font-size: 14px; line-height: 18px; font-weight: 400;;font-family:Open Sans;text-align:center;text-transform:uppercase;">

					<a class="typeform-share button" href="/booking.php" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#db2d2e;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:23px;line-height:57.5px;text-align:center;margin:0;height:57.5px;padding:0px 38px;border-radius:0px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-submit-close-delay="5" target="_blank">Schedule an Appointment</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

					</div>

        <!-- LAYER NR. 4 -->
        <div class="tp-caption   tp-resizeme"
           id="slide-5-layer-12"
           data-x="center" data-hoffset="0"
           data-y="center" data-voffset="70"
                data-width="['none','none','none','none']"
          data-height="['none','none','none','none']"
          data-transform_idle="o:1;"

           data-transform_in="y:50px;opacity:0;s:800;e:Power2.easeInOut;"
           data-transform_out="opacity:0;s:300;"
          data-start="620"
          data-responsive_offset="on"


          style="z-index: 8;"><img src="images/redcar.png" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>

        <!-- LAYER NR. 5
        <div class="tp-caption   tp-resizeme"
           id="slide-5-layer-11"
           data-x="120"
           data-y="center" data-voffset="130"
                data-width="['none','none','none','none']"
          data-height="['none','none','none','none']"
          data-transform_idle="o:1;"

           data-transform_in="x:50px;opacity:0;s:800;e:Power2.easeInOut;"
           data-transform_out="opacity:0;s:300;"
          data-start="200"
          data-responsive_offset="on"


          style="z-index: 9;"><img src="images/red-car.png" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div> -->
      </li>
    </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
    </div>
  </section>

<!--=================================
  rev slider -->
<section style="background-color:black;" class="mobile">
	<center><img class="img-responsive" src="images/mobile.jpg"></center>
	<div style="margin-bottom: 30px; margin-top: 15px;">
	</div>
</section>
<section class="mobile">
<section>
	<div class="row" style="margin:20px 30px;">
      <div class="col-lg-12 col-md-12">
         <div class="section-title" style="margin:0;">
           <h3 class="hide-mobile">Call or Text (956) 948-9600</h3>
           <a href="tel:19569489600"><h3 class="mobile">(956) 948-9600</h3></a>
           <div class="row mobile">
             <div class="col-xs-6">
                  <a class="button btn-block" href="tel:19569489600"><i class="fa fa-phone" aria-hidden="true"></i> Call Us</a>
             </div>
             <div class="col-xs-6">
                  <a class="button btn-block" href="sms:19569489600"><i class="fa fa-commenting-o" aria-hidden="true"></i> Text Us</a>
             </div>
           </div>
           <div class="separator"></div>
         </div>
				<center><a class="typeform-share button" href="/booking.php" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#db2d2e;text-align:center;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-submit-close-delay="5" target="_blank">Schedule a Service</a></center> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
      </div>
    </div>
</section></section>
<!--=================================
 quick-links -->

 <section class="quick-links white-bg">
  <div class="container">
   <div class="row no-gutter">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <div class="link text-center">
       <a href="http://auto1stop.com/auto-glass.php">
        <img src="svg/cracked-windshield.svg" style="margin-bottom: 15px;" width="36">
        <h6>Auto Glass </h6>
        </a>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <div class="link text-center">
       <a href="http://auto1stop.com/collision.php">
        <img src="svg/chassis.svg" style="margin-bottom: 15px;" width="36">
        <h6>Body Shop</h6>
        </a>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <div class="link text-center">
       <a href="mechanic.php">
        <img src="svg/gears.svg" style="margin-bottom: 15px;" width="36">
        <h6>Mechanic</h6>
        </a>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <div class="link text-center">
       <a href="wash-detail.php">
        <img src="svg/car-wash.svg" style="margin-bottom: 15px;" width="36">
        <h6>Wash & Detail</h6>
        </a>
      </div>
    </div>
<!--
		 <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <div class="link text-center">
       <a href="custom.php">
        <img src="svg/tinting.svg" style="margin-bottom: 15px;" width="36">
        <h6>Aftermarket</h6>
        </a>
      </div>
    </div>
		 -->
		<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <div class="link text-center">
       <a href="tires.php">
        <img src="svg/wheel.svg" style="margin-bottom: 15px;" width="36">
        <h6>Wheels & Tires</h6>
        </a>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <div class="link text-center">
       <a href="maintenance.php">
        <img src="svg/oil.svg" style="margin-bottom: 15px;" width="36">
        <h6>Maintenance</h6>
        </a>
      </div>
     </div>
   </div>
  </div>
</section>

<!--=================================
 quick-links -->



   <section class="play-video-2-section bg-3 bg-overlay-black-70 page-section-ptb">
    <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="fb-video" data-autoplay="true" data-href="https://www.facebook.com/auto1stop/videos/1985603325017302/" data-width="500" data-show-text="false"><blockquote cite="https://www.facebook.com/auto1stop/videos/1985603325017302/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/auto1stop/videos/1985603325017302/"></a><p>Weekly Update
-----------------
8/28-9/1</p>Posted by <a href="https://www.facebook.com/auto1stop/">One Stop Shop</a> on Sunday, September 24, 2017</blockquote></div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="custom-block-2 mt-0"><br>
           <h3 class="text-white">Our Promise to Deliver</h3>
           <p style="line-height:20px;" class="text-white">Here at One Stop Shop, we promise to deliver punctuality, honesty, integrity and of course, quality. We promise to ensure customer satisfaction through positive and proactive customer service, and assure our team is trained on the latest technologies, and only use the highest quality of tools. We promise to guarantee our work, and to maintain helpful relationships with our clients.</p><br>
           <div class="ceo">
             <img style="margin-left:-20px" width="150" class="img-responsive" src="images/signature.png" alt="">
             <strong class="text-red">CEO</strong>
             <p class="text-white">Carlos Ferreira</p>
           </div>
         </div>
      </div>
     </div>
     </div>
    </section>
		<!--=================================
 play-video -->


<!--=================================
 our-service -->

<section class="feature-car-area  our-service white-bg page-section-ptb">
  <div class="container">
   <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-7">
      <h2>YOUR CAR, YOUR TERMS</h2>
      <span>Bringing you only the best parts, services, and accessories in the market, we’ll get it done to make your car, uniquely yours.
</span>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
         <div class="feature-box-2">
          <div class="icon">
           <i class="glyph-icon flaticon-wallet"></i>
          </div>
          <div class="content">
          <h5>Financing Available</h5>
          <p>Shop with Confidence. With One Stop Shop, we can help you find the best financing options available to you. </p>
         </div>
        </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
         <div class="feature-box-2">
          <div class="icon">
           <i class="glyph-icon flaticon-gas-station"></i>
          </div>
          <div class="content">
          <h5>We'll Pick It Up</h5>
          <p>A boss’s last worry, and One Stop Shop’s speciality. We can pick up your vehicle anywhere for service.</p>
         </div>
        </div>
        </div>
      </div>
     <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
         <div class="feature-box-2">
          <div class="icon">
           <i class="glyph-icon flaticon-air-conditioning"></i>
          </div>
          <div class="content">
          <h5>Unlimited Options</h5>
          <p>With 11 years of experience and our solid automotive vendor relationships, you can feel rest assured that you're getting the best deal on custom and aftermarket parts.</p>
         </div>
        </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
         <div class="feature-box-2">
          <div class="icon">
           <i class="glyph-icon flaticon-gearstick"></i>
          </div>
          <div class="content">
          <h5>Quality & Guarantee</h5>
          <p>We stand behind our promise, and our work. Our team is trained on the latest technologies, and only use the highest quality of tools.</p>
         </div>
        </div>
        </div>
      </div>
     </div>
     <div class="col-lg-5 col-md-5 col-sm-5">
      <img style="margin-top:-50px;" class="img-responsive center-block big-car" height="500px" src="images/car/18.png" alt="">
     </div>
   </div>
  </div>
</section>

<!--=================================
 our-service -->



<hr class="gray">

 <!--=================================
 testimonial -->
<section class="testimonial-2 bg-1 bg-overlay-black-70 page-section-ptb">
  <div class="container">
   <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="section-title">
         <span class="text-white">What Our Happy Clients Are Saying</span>
         <h2 class="text-white">Customer Reviews </h2>
         <div class="separator"></div>
      </div>
    </div>
   </div>
   <div class="testimonial-center">
    <div class="owl-carousel-3">
			{{#each testimonials}}
			 {{> testimonial }}
			{{/each}}
    </div>
   </div>
  </div>
</section>

 <!--=================================
 testimonial -->


<!--=================================
Brands -->

<section class="our-clients white-bg page-section-ptb2">
  <div class="container">
   <div class="row top50">
    <div class="col-lg-12 col-md-12">
      <div class="section-title2">
         <span>We Work With</span>
         <h2>All Makes & Models</h2>
         <div class="separator"></div>
      </div>
    </div>
   </div>
   <div class="row">
     <div class="col-lg-12 col-md-12">
       <div class="owl-carousel-6">
				 {{#each brands}}
				 	{{> brand }}
				 {{/each}}

       </div>
     </div>
    </div>
  </div>
</section>

<!--=================================
brands -->


<!--=================================
Team -->

<section class="our-clients page-section-ptb2" style="background-color:#dedede;">
  <div class="container">
   <div class="row top50">
    <div class="col-lg-12 col-md-12">
      <div class="section-title2">
         <span>Meet our</span>
         <h2>Team & Staff</h2>
         <div class="separator"></div>
      </div>
    </div>
   </div>
   <div class="row">
     <div class="col-lg-12 col-md-12">
       <div class="owl-carousel-6">
				 <div class="item team-item">
				{{#each teams}}
          {{> team }}
        {{/each}}
			</div>
			</div>
				</div>
			</div>
		</div>
</section>



<!--=================================
team -->





<!--=================================
 footer -->
{{>footer}}


</body>
</template>
