<template name="footer">
	<section style="background-color: #db2d2e;" class="">
	 <div style="box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); background-color: white; padding: 50px; " class="container">
	  <div class="row">
	    <div class="col-lg-12 col-md-12">
	      <div class="text-center">
	         <center><a class="typeform-share button" href="/booking.php" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#db2d2e;text-align:center;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-submit-close-delay="5" target="_blank">Schedule a Service</a></center> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
	         <h5 style="margin-top:15px;">Or Call For an Instant Quote</h5>
	         <h1>(956) 948-9600</h1>
	      </div>
	    </div>
	   </div>
	   </div>
	</section><footer class="top100 footer footer-black bg-2 bg-overlay-black-90">
	  <div class="container">
	    <div class="row">
	      </div>
	      <div class="col-lg-3 col-md-3 col-sm-6">
	        <div class="usefull-link">
	        <h6 class="text-white">Pharr, Tx</h6>
	          <div class="address">
	          <ul>
	            <li> <a target="blank" href="https://www.google.com/maps/place/One+Stop+Shop/@26.2047792,-98.1722031,15z/data=!4m5!3m4!1s0x0:0x2f23d5ee936acf7f!8m2!3d26.2047792!4d-98.1722031?sa=X&ved=0ahUKEwj2tquBs6_WAhXF31QKHSBiBagQ_BIIhQEwCg"><i class="fa fa-map-marker"></i><span>812 E Expy 83,<br> Pharr TX 78577</span></a> </li>
	          </ul>
	        </div>
	        </div>
	      </div>
	      <div class="col-lg-3 col-md-3 col-sm-6">
	        <div class="usefull-link">
	        <h6 class="text-white">McAllen, Tx</h6>
	          <div class="address">
	          <ul>
	            <li> <a target="blank" href="https://www.google.com/maps/place/Detail+On+Wheels/@26.1991936,-98.2115504,17z/data=!3m1!4b1!4m5!3m4!1s0x8665a0baf32b54b3:0x6206d6350c2aeffb!8m2!3d26.1991888!4d-98.2093564"><i class="fa fa-map-marker"></i><span>1022 E Hwy 83,<br> McAllen TX 78501</span></a> </li>
	          </ul>
	        </div>
	        </div>
	      </div>
	      <div class="col-lg-3 col-md-3 col-sm-6">
	        <div class="usefull-link">
	        <h6 class="text-white">Harlingen, Tx</h6>
	          <div class="address">
	          <ul>
	            <li> <a target="blank" href="https://www.google.com/maps/place/One+Stop+Shop/@26.1894333,-97.7299219,17z/data=!3m1!4b1!4m5!3m4!1s0x866f81c773f08f93:0xfbd77677e45268b6!8m2!3d26.1894285!4d-97.7277279"><i class="fa fa-map-marker"></i><span>3110 TX-54 Spur,<br> Harlingen, TX 78552</span></a> </li>
	          </ul>
	        </div>
	        </div>
	      </div>
	      <div class="col-lg-3 col-md-3 col-sm-6">
	        <div class="usefull-link">
	        <h6 class="text-white">Body Shop, Pharr, Tx</h6>
	          <div class="address">
	          <ul>
	            <li> <a target="blank" href="https://www.google.com/maps/place/1011+W+Newcombe+Ave,+Pharr,+TX+78577/@26.1960453,-98.1967649,15z/data=!4m13!1m7!3m6!1s0x8665a0984afb9b4b:0x6358d6ed4961611a!2s1011+W+Newcombe+Ave,+Pharr,+TX+78577!3b1!8m2!3d26.1957927!4d-98.1968435!3m4!1s0x8665a0984afb9b4b:0x6358d6ed4961611a!8m2!3d26.1957927!4d-98.1968435"><i class="fa fa-map-marker"></i><span>1011 W Park Ave<br> Pharr, TX 78577</span></a> </li>
	          </ul>
	        </div>
	        </div>
	      </div>
	      <div class="row">
	      <div class="col-lg-6 col-md-6 col-sm-6">
	        <div class="footer-box">
	          <div class="box-content">
	            <h6 class="text-white">ARE YOU LOOKING FOR A CAR?</h6>
	            <p class="text-white"> We can help you with your next car purchase. New or used, we can guarantee you the best deal.</p>
	          </div>
	          <div class="box-link">
	            <a class="button" href="contact.php">Contact Us</a>
	          </div>
	        </div>
	     </div>
	     <div class="col-lg-6 col-md-6 col-sm-6">
	        <div class="footer-box">
	          <div class="box-content">
	            <h6 class="text-white">DO YOU WANT TO SELL A CAR?</h6>
	            <p class="text-white"> Looking to sell or upgrade? We'll make you a cash offer on your vehicle with zero commitment.</p>
	          </div>
	          <div class="box-link">
	            <a class="button" href="/contact.php">Contact Us</a>
	          </div>
	        </div>
	     </div>
	    </div>
	    </div>
	    <hr />
	    <div class="copyright">
	     <div class="container">
	      <div class="col-lg-4 col-md-4">
	       <div class="text-left">
	        <p style="color:#909090">©Copyright 2017 One Stop Shop</p>
	       </div>
	      </div>
	       <div class="col-lg-4 col-md-4">
	        <div id="google_translate_element"></div>
	      </div>
	      <div class="col-lg-4 col-md-4">
	        <ul class="list-inline text-right">
	          <li><a href="contact.php">contact us </a></li> | <a href="/contact.php" id="feedback"> Feedback</a>
	        </ul>
	      </div>
	     </div>
	    </div>

	</footer>

</template>
